@{
    ViewBag.Title = "Strona domowa";
}

<div class="jumbotron">
    <h1>Rezerwacja apartamentów</h1>
    <p class="lead">System internetowej rezerwacji apartamentów</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Znajdź swój wymarzony apartament!</h2>
        <p>
            Na tej stronie możesz szybko i łatwo znaleźć apartament, który odpowiada twoim potrzebom i zarezerwować go wyłącznie dla siebie!
            Wystarczy założyć konto na naszej stronie i cieszyć się nieograniczonymi mozliwościami!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Szukaj apartamentu!</a></p>
    </div>
</div>